@{
    ViewData["Title"] = "About Us";
}

<style>
    .about-info {
        padding: 50px;
        backdrop-filter: blur(7px);
        border-radius: 30px;
        border: none;
    }

    #line1 {
        width: 100px;
        border-color: #3e1892;
    }

    .abuttext p {
        padding-top: 30px;
    }

    .about-content {
        padding-bottom: 50px;
    }

        .about-content span {
            font-weight: 800;
            color: #3e1892;
            line-height: 4;
        }

        .about-content p {
            color: #ffff;
        }

    .aboutexto span {
        padding-top: 50px;
    }

    .founder {
        padding-top: 60px;
    }

    .imgabt p {
        padding-top: 10px;
    }

    footer {
        padding-left: 40%;
    }

    .Supervision h4 {
        font-size:40px;
        text-align:center;
    }
    .Doc{
        display:flex;
        justify-content:center;
    }
    .Us{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
    }
    .Person {
        padding:15px;
        margin:15px 15px 15px 15px;
        border-radius:20px;
        box-shadow:#000000 0px 0px 15px;
        width: 300px;
        text-align:center;
    }
    .Person img{
        border-radius:10px;
        object-fit:scale-down;
        width:100%;
        min-height:250px;
        max-height:250px;
    }
    .Person h5{
        margin-top:10px;
    }
    .Person h6{
        color:gainsboro;
    }
</style>

<body>
    <section class="about-info">
        <div class="about-header">
            <h4>What's Carco ?</h4>
        </div>
        <div class="about-content">
            <div class="abuttext">
                <p>Over the last few years, many car enthusiasts have started turning their attention to recent vehicles – cars from the 1980s, 1990s, and beyond. We realized there isn’t yet a specific place that’s focused solely on buying and selling these modern enthusiast cars, but there should be – so We created Carco, with its simple name.”</p>
                <p>Carco is the best online Dealer marketplace to buy and sell modern enthusiast cars – and that means pretty much anything that’s cool from the 1980s, 1990s, 2000s, 2010s, or 2020s. To us, “cool” ranges from the obvious (a Ferrari F355 or a Lamborghini Gallardo) to the esoteric (a pristine Dodge Dakota Convertible or a Mercury Capri XR2) to the traditional fun cars that enthusiasts love (a Mazda MX-5 Miata or a Porsche 911). Basically everything that’s exciting, fun, interesting, or quirky is welcome here – as long as it comes from the modern era.</p>
                <p>Although there are many places to buy and sell a special car, Carco offers significant advantages over other websites. <span>Here are just a few of our benefits:</span></p>
            </div>
            <div class="aboutexto">
                <p>
                    <span>We’re focused on modern enthusiast cars:</span><br>
                    the 1980s to the 2020s. That means anyone interested in the next era of exciting cars will come here first to buy and sell.<br>

                    <span>Our fees are low.</span> <br>
                    Sellers list for free, and the buyer's fee is just 4.5%, with a minimum of $225 and a maximum of $4,500.<br>

                    <span>We believe that every vehicle should come with a vehicle history report</span><br>
                    so we provide one, for free, instead of asking sellers to pay for their own.<br>
                    <span>Cars & Bids makes it easy to submit your car for sale:</span><br>
                    We value your time by asking for only a few crucial details before letting you know whether or not we’re accepting your vehicle. That means you don’t have to waste your time providing initial information only to have your car rejected.
                </p>
            </div>
        </div>
        <div class="Supervision">
            <h4>Under Close Super Vision From</h4>
            <div class="Doc">
                <div class="Person">
                    <img src="~/img/Dalia.jpg" />
                    <h5>Prof.Dalia Ahmed Magdi Hassan</h5>
                    <h6>Vice Dean of Computer Science School</h6>
                </div>
                <div class="Person">
                    <img src="~/img/Mariem.jpg" />
                    <h5 style="margin-top:15px;">TU.Maram Nashaat</h5>
                    <h6>Web Development TA</h6>
                </div>
            </div>
            <h4>Our Team</h4>
            <div class="Us">
                <div class="Person">
                    <img src="~/img/mustafahamdy_mh-13-05-2023-0001.png" />
                    <h5>
                        Mustafa Hamdy Mustafa<br />
                        20200053
                    </h5>
                    <h6>Front-End Web Developer</h6>
                </div>
                <div class="Person">
                    <img src="~/img/markjoseph7603-13-05-2023-0001.png" />
                    <h5>Mark Joseph Shehata<br />
                        20200225</h5>
                    <h6>Front-End Web Developer</h6>
                </div>
                <div class="Person" style="margin:0px 200px 0px 200px;">
                    <img src="~/img/kerolos._.atef-13-05-2023-0001.png" />
                    <h5 style="color:#3e1892; font-weight:900;">Team Leader</h5>
                    <h5>
                        Kerolos Atef Ayad<br />
                        20200150
                    </h5>
                    <h6>Back-End Web Developer</h6>
                </div>
                <div class="Person">
                    <img src="~/img/motaz_ismail_muhamed-13-05-2023-0001.png" />
                    <h5>
                        Moataz Ismail Mohamed<br />
                        20200544
                    </h5>
                    <h6>Back-End Web Developer</h6>
                </div>
                <div class="Person">
                    <img src="~/img/markos00yousef-13-05-2023-0001.jpg" />
                    <h5>
                        Markos Yousef Nasry<br />
                        20200106
                    </h5>
                    <h6>Database Developer</h6>
                </div>
            </div>
        </div>
    </section>
</body>
